
.descriptionBlock {
    padding:10px;

   display: flex;
    justify-content: center;
    flex-wrap: wrap;

    color: #f5f1f1;
    font-size: 20px;


}

.container_left {
text-align: center;
}

.container_right {
padding-left: 30px;
}

.logo>img {
    height: 25px;
    width: 25px;

}
.photo_default>img {
    height: 400px;
    width: 100%;
}




/*.item a {*/
/*    color: #f5f1f1;*/
/*    text-decoration: none;*/
/*}*/

/*.item a:active {*/
/*    color: #fcfcfc;*/
/*}*/

/*.item a:hover {*/
/*    color: #e2dada;*/
/*}*/