
/*.item {*/
/*display: flex;*/
/*}*/

.addPostBorder {
    padding: 5px;

    border: #e2dada 1px solid;
    display: flex;
    flex-direction: column;
}

.container_addPostBorder {
    border: #e2dada 1px solid;
    height: 200px;
    /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    /*background: #39b54a; !* Цвет фона *!*/
    color: #fff; /* Цвет текста */
    /* Ширина слоя */
}


.posts {
    margin-top: auto;
    max-width: 80ch;

}

.btn_container {
    border: 1px solid #e2dada;

    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts {
    text-align: left;
}

/*///addpostform*/

.flex_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.text_field {
    width: 80%;
    flex: 3;

}

.image_upload {
    padding: 5px;

}


/*btn*/
.button {
    order:3;
}
