.app-wrapper {
  width: 100vw;
  height: 100vh;
  margin: auto 5px;
  display: grid;
  grid-template-areas:
"header header header"
"nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;



}

.app-wrapper-content {
  grid-area: content;
  background: #eef2f3;
}







