.app-wrapper {
  width: 100vw;
  height: 100vh;
  margin: auto 5px;
  display: grid;
  grid-template-areas:
"header header header"
"nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;



}

.app-wrapper-content {
  grid-area: content;
  background: #eef2f3;
}


.main-background {
  background: url("https://img.freepik.com/free-photo/social-media-heart-like-icons-production-line-conyeror-belt-3d-render_601748-35543.jpg?w=1380") top no-repeat;

}







