
.main {
    padding-top: 50px;
}



.dialogs {
/*display: grid;*/
    /*grid-template-columns: 2fr 10fr ;*/
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.usersList {
padding: 10px;
}



.user a {
color: #4b4a4a;
    text-decoration: none;
    padding: 10px;
}

.user a:active {
    color: #f1d6d6;

}

.user a:hover {
    text-decoration: none;
    color: #e2dada;
}


.messages {
    padding: 10px;
    font-size: 20px;


}
.message{

}

/*.item a {*/
/*    color: #f5f1f1;*/
/*    text-decoration: none;*/
/*}*/

/*.item a:active {*/
/*    color: #fcfcfc;*/
/*}*/

/*.item a:hover {*/
/*    color: #e2dada;*/
/*}*/


.img {
    width: 800px
}
