
.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr ;
}

.usersList {
padding: 10px;
}



.user a {
color: #fcfafa;
    text-decoration: none;
}

.user a:active {
    color: #f1d6d6;
}

.user a:hover {
    text-decoration: none;
    color: #e2dada;
}


.messages {
    padding: 10px;

}
.message{

}

/*.item a {*/
/*    color: #f5f1f1;*/
/*    text-decoration: none;*/
/*}*/

/*.item a:active {*/
/*    color: #fcfcfc;*/
/*}*/

/*.item a:hover {*/
/*    color: #e2dada;*/
/*}*/


.img {
    width: 800px
}
